---
import Navigation from "./Navigation.astro";
import ProfilePicture from "./ProfilePicture.astro";
---

<nav>
  <div>
    <a href="/">
      <ProfilePicture />
      <p>harryssecret</p>
    </a>
  </div>
  <Navigation />
</nav>

<style>
  nav {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    color: var(--secondary-color);
  }

  nav div a {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  nav > div > p {
    margin-left: 1rem;
  }

  nav a {
    text-decoration: none;
  }
</style>
