---
---

<ul>
  <li><a href="/articles">Articles</a></li>
  <li><a href="/about">A propos</a></li>
</ul>

<style>
  ul {
    width: 100%;
    list-style: none;
    display: none;
    text-align: center;
  }
</style>
