---
import type { Frontmatter } from "src/types/Frontmatter";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const { description, title, tags, draft, image } = frontmatter as Frontmatter;
---

<Layout pageTitle={title} showTitle={false}>
  <div class="prose max-w-none">
    <header>
      <h1>{title}</h1>
    </header>
    <section id="tags" class="flex gap-4 flex-col not-prose mb-4">
      <h2 class="text-lg font-normal">tags</h2>
      <ul class="tags">
        {tags.map((tag) => <span>{tag}</span>)}
      </ul>
    </section>
    <section id="post" class="prose max-w-none">
      <slot />
    </section>
  </div>
</Layout>

<style>
  ul.tags span {
    background-color: white;
  }
</style>
